## Diversifiable and Non-Diversifiable Risk of a Portfolio

Import the same dataset – Microsoft and Apple stock, downloaded from Yahoo Finance. Timeframe – 1st of January 2007 until today. <br />

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
    
sec_data

                  MSFT        AAPL
Date
2007-01-03   22.395931    7.951960
2007-01-04   22.358421    8.128461
2007-01-05   22.230919    8.070577
2007-01-08   22.448427    8.110430
2007-01-09   22.470930    8.784165
2007-01-10   22.245918    9.204537
2007-01-11   23.025957    9.090670
2007-01-12   23.408472    8.978695
2007-01-16   23.370968    9.214026
2007-01-17   23.325958    9.010009
2007-01-18   23.250961    8.452042
2007-01-19   23.333471    8.397955
2007-01-22   23.040955    8.235688
2007-01-23   23.055954    8.132256
2007-01-24   23.318472    8.227149
2007-01-25   22.838440    8.184447
2007-01-26   22.950956    8.101892
2007-01-29   22.898449    8.155032
2007-01-30   22.860943    8.118024
2007-01-31   23.145956    8.135101
2007-02-01   22.920952    8.041162
2007-02-02   22.643431    8.042109
2007-02-05   22.208418    7.965247
2007-02-06   22.133417    7.985172
2007-02-07   22.028416    8.174958
2007-02-08   21.945906    8.177804
2007-02-09   21.735897    7.901670
2007-02-12   21.705904    8.054446
2007-02-13   21.833849    8.037364
2007-02-14   22.127373    8.094298
...                ...         ...
2019-05-06  127.677376  207.680222
2019-05-07  125.057083  202.081787
2019-05-08  125.047127  202.121628
2019-05-09  125.037155  199.949997
2019-05-10  126.661148  197.179993
2019-05-13  122.895088  185.720001
2019-05-14  124.270004  188.660004
2019-05-15  126.019997  190.919998
2019-05-16  128.929993  190.080002
2019-05-17  128.070007  189.000000
2019-05-20  126.220001  183.089996
2019-05-21  126.900002  186.600006
2019-05-22  127.669998  182.779999
2019-05-23  126.180000  179.660004
2019-05-24  126.239998  178.970001
2019-05-28  126.160004  178.229996
2019-05-29  124.940002  177.380005
2019-05-30  125.730003  178.300003
2019-05-31  123.680000  175.070007
2019-06-03  119.839996  173.300003
2019-06-04  123.160004  179.639999
2019-06-05  125.830002  182.539993
2019-06-06  127.820000  185.220001
2019-06-07  131.399994  190.149994
2019-06-10  132.600006  192.580002
2019-06-11  132.100006  194.809998
2019-06-12  131.490005  194.190002
2019-06-13  132.320007  194.149994
2019-06-14  132.449997  192.740005
2019-06-17  132.850006  193.889999

[3135 rows x 2 columns]

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [2]:
weight = np.array([0.5,0.5])

### Calculating Portfolio Variance

Equal weightings scheme:

In [3]:
sec_return = np.log(sec_data / sec_data.shift(1))

Portfolio Variance:

In [4]:
pfolio_var = np.dot(weight.T, np.dot(sec_return.cov() * 250, weight))
pfolio_var

0.06411628283222184

Portfolio Volatility

In [5]:
pfolio_vol = (np.dot(weight.T, np.dot(sec_return.cov() * 250, weight))) ** 0.5
pfolio_vol

0.2532119326418521

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [6]:
MSFT_var_ann = sec_return['MSFT'].var() * 250
MSFT_var_ann

0.07338829507724537

In [7]:
AAPL_var_ann = sec_return['AAPL'].var() *250
AAPL_var_ann

0.09975553053675773

Or:

Calculating Diversifiable Risk:

In [8]:
div_risk = pfolio_var - (weight[0] ** 2 * MSFT_var_ann) - (weight[1] ** 2 * AAPL_var_ann)
div_risk

0.02083032642872107

Calculating Non-Diversifiable Risk:

In [9]:
non_div_risk = pfolio_var - div_risk
non_div_risk

0.043285956403500775

OR

In [10]:
non_div_2 = (weight[0] ** 2 * MSFT_var_ann) + (weight[1] ** 2 * AAPL_var_ann)
non_div_2

0.043285956403500775

In [11]:
non_div_risk == non_div_2

True

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [12]:
weights_2 = np.array([0.2,0.8])

Portfolio Variance:

In [13]:
pfolio_var = np.dot(weights_2.T, np.dot(sec_return.cov() * 250, weights_2))
pfolio_var

0.08011048026099626

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [14]:
div_risk = pfolio_var - (weights_2[0] ** 2 * MSFT_var_ann) - (weights_2[1] ** 2 * AAPL_var_ann)
div_risk

0.013331408914381476

Calculating Non-Diversifiable Risk:

In [15]:
non_div_1 = pfolio_var - div_risk 
non_div_1

0.06677907134661479

In [16]:
non_div_2 = (weights_2[0] ** 2 * MSFT_var_ann) + (weights_2[1] ** 2 * AAPL_var_ann)
non_div_2

0.06677907134661479

In [17]:
non_div_1 == non_div_2

True